<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Новости{% endblock %}</title>


        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'order:order_list' %}">Система управления заказами в кафе</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'order:order_list' %}">Просмотреть все заказы</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'order:create_order' %}">Добавить заказ</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'order:order_search' %}">Найти заказ</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'order:money_of_the_day' %}">Выручка по заказам</a></li>

                     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
                        <li class="nav-item dropdown">
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Личный кабинет
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% if user.is_authenticated %}
      <li><a class="dropdown-item" href="{% url 'accounts:profile' pk=user.pk%}" >Профиль</a></li>
      <li><a class="dropdown-item" href="">Настройки</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Выход</a></li>
    {% else %}
      <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Войти</a></li>
      <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Зарегистрироваться</a></li>
    {% endif %}
  </ul>
</li>







                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>


{% block content %}
{% endblock content%}

<style>
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f9f9f9;
            color: #333;
            font-size: 12px;
            text-align: center;
            padding: 10px;
        }
    </style>

<footer>
        Данный проект создан для управления заказами в кафе на основе Django Framework.<br>
        Автор проекта: Гордов Олег.
    </footer>
