{% extends "order/base.html" %}

{% block title %}Заказы{% endblock %}

{% block content %}
<center><br><h2>Тестовое задание (ОС в течение 7 дней)</h2><br></center>
    <h7>
<ul>Задание: Разработка системы управления заказами в кафе<br>
Описание Необходимо разработать полнофункциональное веб-приложение на Django для управления заказами в кафе. Приложение должно позволять добавлять, удалять, искать, изменять и отображать заказы. Каждый заказ должен содержать следующие поля:
id (уникальный идентификатор, генерируется автоматически)<br>
table_number (номер стола)<br>
items (список заказанных блюд с ценами)<br>
total_price (общая стоимость заказа, вычисляется автоматически)<br>
status (статус заказа: “в ожидании”, “готово”, “оплачено”)<br>
Стек технологий:<br>
Python 3.8+<br>
Django 4+ (включая Django ORM для работы с базой данных)<br>
HTML/CSS (для базового пользовательского интерфейса)<br>
SQLite/PostgreSQL (для хранения данных)<br>
Markdown для написания README.md<br>
Функциональные требования:<br>
Добавление заказа:<br>


Через веб-интерфейс пользователь вводит номер стола и список блюд с ценами. Система автоматически добавляет заказ с уникальным ID, рассчитанной стоимостью и статусом “в ожидании”.<br>
Удаление заказа:<br>


Пользователь через веб-интерфейс выбирает заказ по ID и удаляет его из системы.<br>
Поиск заказа:<br>


Возможность поиска заказов по номеру стола или статусу через поисковую строку.<br>
Отображение всех заказов:<br>
<br>

Веб-страница с таблицей всех заказов, отображающая их ID, номер стола, список блюд, общую стоимость и статус.<br>
Изменение статуса заказа:<br>


Пользователь через интерфейс выбирает заказ по ID и изменяет его статус (“в ожидании”, “готово”, “оплачено”).<br>
Расчет выручки за смену:<br>


Отдельная страница или модуль для расчета общего объема выручки за заказы со статусом “оплачено”.<br>
Дополнительные требования:<br>
Хранение данных: Использование базы данных SQLite/PostgreSQL для хранения информации о заказах.<br>
Обработка ошибок: Обеспечение корректной обработки ошибок (например, при попытке удаления несуществующего заказа или ввода некорректных данных).<br>
CRUD операции: Реализация операций создания, чтения, обновления и удаления заказов через веб-интерфейс.<br>
REST API: Дополнительно, предоставить API для работы с заказами (добавление, удаление, поиск и т. д.).<br>
ООП: Использовать принципы ООП для построения модели Order и сопутствующих бизнес-логик.<br>
Требования к проекту:<br>
Корректность и полнота функционала.<br>
Чистота и читаемость кода.<br>
Обработка ошибок и исключений.<br>
Удобство использования веб-интерфейса.<br>
Структура проекта: Логическое разделение на приложения, модели, представления, шаблоны и маршруты.<br>
Будет плюсом:<br>
Документация:<br>
Аннотирование функций и переменных (например, с использованием typing).<br>
Подробное описание функций и основных блоков кода.<br>
README файл с инструкцией по установке и использованию приложения.<br>
Тестирование:<br>
Покрытие ключевых функций тестами с использованием unittest или Pytest.<br>
Дополнительные возможности:<br>
Возможность редактирования заказа (добавление или удаление блюд).<br>
Фильтрация списка заказов по статусу.<br>
Формат сдачи: Проект должен быть предоставлен в виде ссылки на репозиторий GitHub или GitLab с открытым доступом.<br>
Инструкция по выполнению:<br>
Создать проект Django с разделением на приложение для управления заказами.<br>
Использовать Django ORM для работы с базой данных.<br>
Реализовать HTML-страницы с использованием шаблонов Django.<br>
Подготовить README.md с инструкцией по развертыванию проекта.<br>
</h7></ul>

{% endblock %}