{% extends "order/base.html" %}

{% block title %}Редактирование заказа{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Редактирование заказа</h1>
    <form method="post" class="mx-auto w-50">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.errors %}
                        <small class="text-danger">{{ field.errors }}</small>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-secondary">Изменить</button>
            <a href="{% url 'order:order_list' %}" class="btn btn-outline-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}