{% extends "order/base.html" %}

{% block title %}Удаление заказа{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Удаление заказа</h1>
    <p class="text-center">Вы уверены, что хотите удалить заказ №{{ order.table_number }}?</p>
    <form method="post" class="mx-auto w-25">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-2">Удалить</button>
            <a href="{% url 'order:order_list' %}" class="btn btn-outline-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}